<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

		<script src="/node_modules/@babel/polyfill/browser.js"></script>
		<script src="/node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
		<script src="/node_modules/web-component-tester/browser.js"></script>
		<script type="module" src="/node_modules/siren-parser/global.js"></script>
		<script type="module" src="../../../src/components/d2l-discover-list/d2l-discover-list.js"></script>
	</head>
	<body>
		<test-fixture id="d2l-discover-list-item-empty-fixture">
			<template>
				<d2l-discover-list></d2l-discover-list>
			</template>
		</test-fixture>
		<test-fixture id="d2l-discover-list-item-href-fixture">
			<template>
				<d2l-discover-list hrefs='["./data/base/activity.json"]' token='token'></d2l-discover-list>
			</template>
		</test-fixture>

		<!-- Responsive test fixtures-->
		<test-fixture id="d2l-discover-list-item-responsive-385-fixture">
			<template>
				<d2l-discover-list hrefs='["./data/base/activity.json"]' token='token' style="width: 385px"></d2l-discover-list>
			</template>
		</test-fixture>
		<test-fixture id="d2l-discover-list-item-responsive-1000-fixture">
			<template>
				<d2l-discover-list hrefs='["./data/base/activity.json"]' token='token' style="width: 1000px"></d2l-discover-list>
			</template>
		</test-fixture>

		<script type="module" src="./d2l-discover-list-test.js"></script>
	</body>
</html>
