<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">
<link rel="import" href="../mixins/route-locations-mixin.html">

<link rel="import" href="../styles/discovery-styles.html">

<link rel="import" href="../../bower_components/d2l-icons/d2l-icon.html">
<link rel="import" href="../../bower_components/d2l-icons/tier2-icons.html">
<link rel="import" href="../../bower_components/d2l-card/d2l-card.html">

<dom-module id="course-card">
  <template>
    <style include="discovery-styles"></style>
    <style>
      :host {
        display: block;
      }

      img {
        height: var(--course-image-height);
        width: 100%;
      }

      d2l-card {
        height: 100%;
        width: 100%;
      }

      .container {
        height: 100%;
        width: 100%;
      }
      .content {
        visibility: hidden;
        margin-top: -0.5rem;
        margin-bottom: 0.35rem;
        text-align: center;
        overflow: hidden;
        word-wrap: break-word; /* IE/Edge */
        overflow-wrap: break-word; /* replaces 'word-wrap' in Firefox, Chrome, Safari */
        display: flex;
        flex-direction: column;
      }
    </style>
    <div class="d2l-typography container">
      <d2l-card
        on-click="_navigateToCourse"
        href="javascript:void(0)"
        on-click="_clicked">
        <div slot="header" class="image-container">
          <img src="[[courseThumbnailLink]]">
        </div>
        <div class="content" slot="content">
          <div class="d2l-label-text">[[courseTitle]]</div>
          <div>
            <d2l-icon icon="d2l-tier2:time"></d2l-icon>
            <span class="d2l-body-small">[[localize('durationMinutes', 'minutes' courseDuration)]]</span>
          </div>
        </div>
      </d2l-card>
    </div>
  </template>

  <script>
    class CourseCard extends
      D2L.Discovery.LocalizeMixin(
      D2L.Discovery.RouteLocationsMixin(Polymer.Element)) {

      static get is() { return 'course-card'; }

      static get properties() {
        return {
          courseId: Number,
          courseTitle: String,
          courseThumbnailLink: String,
          courseDuration: Number,
        };
      }
      _navigateToCourse() {
        if (this.courseId) {
          this.dispatchEvent(new CustomEvent('navigate', {
            detail: {
              path: this.routeLocations().course(this.courseId),
            },
            bubbles: true,
            composed: true,
          }));
        }
      }
    }

    window.customElements.define(CourseCard.is, CourseCard);
  </script>
</dom-module>
