<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">
<link rel="import" href="../mixins/route-locations-mixin.html">

<link rel="import" href="../styles/discovery-styles.html">

<link rel="import" href="../../bower_components/d2l-link/d2l-link.html">
<link rel="import" href="../../bower_components/d2l-button/d2l-button.html">

<link rel="import" href="../../bower_components/d2l-alert/d2l-alert-toast.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/d2l-icons/d2l-icon.html">
<link rel="import" href="../../bower_components/d2l-icons/tier1-icons.html">

<dom-module id="course-action">
  <template>
    <style include="discovery-styles"></style>
    <style>
      :host {
        display: inline;
      }
      
      .thumbnail {
        border-radius: 5px;
        padding-bottom: 1rem;
        height: 190px;
        width: 100%;
      }

      .container {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .duration {
        width: 50%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }

      .lastUpdated {
        width: 50%;
        margin-left: 2rem;
        margin-right: 2rem;
      }

      .tagsContainer {
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
      }

      .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .alert {
        width: 415px;
        height: auto;
      }

      .alertContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: auto;
      }

      .alertContent {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .dialog {
        width: 45%;
        overflow: auto;
        border-radius: 5px;
      }

      .dialogContainer {
        display: flex;
        flex-direction: column;
      }

      .dialogHeaderContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .dialogClose {
        font-size: 28px;
        cursor: pointer;
      }

      .d2l-heading-4 {
        margin-top: 0 !important;
        margin-bottom: 0.8rem !important;
      }

      .d2l-heading-2 {
        margin-top: 0 !important;
        margin-bottom: 0.7rem !important;
        white-space: normal;
      }

      .dialogButtonContainer {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        overflow: auto;
      }

      .secondDialogButton {
        margin-left: 1rem;
      }
    </style>

    <div class="d2l-typography">
      <img class="thumbnail" src="[[courseThumbnailLink]]">

      <div class="container">
        <div class="duration">
          <div class="d2l-label-text">[[localize('duration')]]</div>
          <div class="d2l-body-standard">[[courseDuration]] [[localize('minutes')]]</div>
        </div>

        <div class="lastUpdated">
          <div class="d2l-label-text">[[localize('lastUpdated')]]</div>
          <div class="d2l-body-standard">[[courseLastUpdated]]</div>
        </div>
      </div>

      <template is="dom-if" if="[[tagsExist]]">
        <div class="tagsContainer">
            <span class="d2l-label-text">[[localize('taggedWith')]]</span>
            <div>
              <template is="dom-repeat" items="[[courseTags]]">
                <d2l-link href="javascript:void(0)" on-click="_navigateToSearch">
                  <span value="[[item]]">[[item]][[_getTagSuffix(index)]]</span>
                </d2l-link>
              </template>
            </div>
          </div>
        </div>
      </template>

      <div class="buttonsContainer">
        <div>
          <template is="dom-if" if="[[isInMyLearning]]">
              <d2l-button on-click="_addToMyLearning" primary>[[localize('accessMaterials')]]</d2l-button>
          </template>
          <template is="dom-if" if="[[!isInMyLearning]]">
              <d2l-button on-click="_addToMyLearning" primary>[[localize('addToMyLearning')]]</d2l-button>
          </template>
        </div>
        <div>
          <template is="dom-if" if="[[isInMyLearning]]">
              <d2l-button on-click="_addToMyList">[[localize('unenroll')]]</d2l-button>
          </template>
          <template is="dom-if" if="[[!isInMyLearning]]">
              <template is="dom-if" if="[[isOnMyList]]">
                  <d2l-button on-click="_addToMyList">[[localize('onMyList')]]</d2l-button>
              </template>
              <template is="dom-if" if="[[!isOnMyList]]">
                  <d2l-button on-click="_addToMyList">[[localize('addToMyList')]]</d2l-button>
              </template>
          </template>
        </div>
      </div>

      <d2l-alert-toast class="alert" id="addedAlert" type="success" hide-close-button>
        <div class="alertContainer">
          <div class="alertContent">[[localize('addedToYourList')]]</div>
          <div class="alertContent">
            <d2l-link href="javascript:void(0)" on-click="_navigateToMyList">[[localize('viewMyList')]]</d2l-link>
          </div>
        </div>
      </d2l-alert-toast>

      <paper-dialog class="dialog d2l-typography" id="myLearningDialog" always-on-top with-backdrop>
        
        <div class="dialogContainer">
          <div class="dialogHeaderContainer">
            <h4 class="d2l-heading-4">[[localize('addedToMyLearningHeader')]]</h4>
            <d2l-icon class="dialogClose" on-click="_closeDialog" icon="d2l-tier1:close-small"></d2l-icon>
          </div>

          <h2 class="d2l-heading-2">[[courseTitle]]</h2>
          <h4 class="d2l-heading-4">[[localize('welcomeToTheCourse')]]</h4>
          <span class="d2l-body-standard">
            [[localize('addedToMyLearningMessage')]]
          </span>
          <div class="dialogButtonContainer">
            <div>
              <d2l-button on-click="_navigateToHome" primary>[[localize('startLearning')]]</d2l-button>
            </div>
            <div class="secondDialogButton">
              <d2l-button on-click="_closeDialog">[[localize('continueBrowsing')]]</d2l-button>
            </div>
          </div>
        </div>
      </paper-dialog>
    </div>
  </template>

  <script>
    class CourseAction extends
      D2L.Discovery.LocalizeMixin(
      D2L.Discovery.RouteLocationsMixin(Polymer.Element)) {

      static get is() { return 'course-action'; }

      static get properties() {
        return {
          courseTitle: String,
          courseThumbnailLink: String,
          courseDuration: Number,
          courseLastUpdated: String,
          courseTags: Array,
          isInMyLearning: {
            type: Boolean,
            notify: true
          },
          isOnMyList: {
            type: Boolean,
            notify: true
          },

          tagsExist: {
            type: Boolean,
            computed: '_tagsExist(courseTags)',
          },
        };
      }

      _tagsExist(courseTags) {
        return courseTags && courseTags.length;
      }

      _getTagSuffix(index) {
        if (index !== undefined && this.courseTags) {
          if (index === this.courseTags.length - 1) {
            return '';
          } else {
            return ', ';
          }
        }
        return '';
      }

      _addToMyLearning(e) {
        this.isInMyLearning = !this.isInMyLearning; // temporary toggle functionality for testing

        var myLearningDialog = this.shadowRoot.querySelector('#myLearningDialog');
        myLearningDialog.opened = true;
      }

      _closeDialog(e) {
        var myLearningDialog = this.shadowRoot.querySelector('#myLearningDialog');
        myLearningDialog.opened = false;
      }

      _addToMyList(e) {
        this.isOnMyList = !this.isOnMyList; // temporary toggle functionality for testing

        var addedAlert = this.shadowRoot.querySelector('#addedAlert');
        addedAlert.open = true;
      }

      _navigateToHome(e) {
        this.dispatchEvent(new CustomEvent('navigate', {
          detail: {
            path: this.routeLocations().home(),
          },
          bubbles: true,
          composed: true,
        }));

        var myLearningDialog = this.shadowRoot.querySelector('#myLearningDialog');
        myLearningDialog.opened = false;
      }

      _navigateToMyList(e) {
        this.dispatchEvent(new CustomEvent('navigate', {
          detail: {
            path: this.routeLocations().myList(),
          },
          bubbles: true,
          composed: true,
        }));

        var myLearningDialog = this.shadowRoot.querySelector('#myLearningDialog');
        myLearningDialog.opened = false;
      }

      _navigateToSearch(e) {
        if(e && e.target && e.target.value) {
          this.dispatchEvent(new CustomEvent('navigate', {
            detail: {
              path: this.routeLocations().search(e.target.value),
            },
            bubbles: true,
            composed: true,
          }));
        }
      }
    }

    window.customElements.define(CourseAction.is, CourseAction);
  </script>
</dom-module>
