<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">

<link rel="import" href="../../bower_components/d2l-link/d2l-link.html">
<link rel="import" href="../../bower_components/d2l-icons/d2l-icon.html">
<link rel="import" href="../../bower_components/d2l-icons/tier2-icons.html">
<link rel="import" href="../../bower_components/d2l-search/d2l-search-input.html">

<link rel="import" href="../styles/discovery-styles.html">


<dom-module id="search-header">
  <template>
    <style include="discovery-styles"></style>
    <style>
      :host {
        display: inline;
      }

      .container {
        overflow: auto;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        border-bottom: 1px solid #f2f3f5;
      }

      .content {
        flex-shrink: 0;
        padding-left: 1rem;
      }

      .box {
        -webkit-box-shadow: 0 1px 4px rgba(86,86,86,0.2);
        -moz-box-shadow: 0 1px 4px rgba(86,86,86,0.2);
        box-shadow: 0 1px 4px rgba(86,86,86,0.2);
      }

      .clickable {
        cursor: pointer;
      }

      .searchBar {
        padding-left: 1rem;
        width: 50%;
        min-width: 100px;
      }

      .endContent {
        flex-shrink: 0;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    </style>

    <div class="d2l-typography box">
      <div class="container">
        <div class="content">
          <h2 class="d2l-heading-2 clickable" on-click="_navigateToHome">
            [[localize('discover')]]
          </h2>
        </div>

        <div class="content">
          <d2l-icon icon="d2l-tier2:divider"></d2l-icon>
        </div>

        <div class="content">
          <span class="d2l-body-standard">[[localize('searchLabel')]]</span>
        </div>

        <div class="searchBar">
          <d2l-search-input
            label="Search"
            value="{{query}}" 
            placeholder="[[localize('searchPlaceholder')]]">
          </d2l-search-input>
        </div>

        <div class="endContent">
          <d2l-link href="javascript:void(0)" on-click="_navigateToMyList">[[localize('myList')]]</d2l-link>
        </div>
      </div>
    </div>
  </template>

  <script>
    class SearchHeader extends
      D2L.Discovery.LocalizeMixin(
      D2L.Discovery.RouteLocationsMixin(Polymer.Element)) {

      constructor() {
        super();
        this.query = "";
      }

      static get is() { return 'search-header'; }

      static get properties() {
        return {
          query: {
            type: String,
            notify: true,
            observer: '_queryChanged',
          },

          queryParams: {
            type: Object,
            notify: true,
          },
        };
      }

      _navigateToHome(e) {
        this.dispatchEvent(new CustomEvent('navigate', {
          detail: {
            path: this.routeLocations().navLink(),
          },
          bubbles: true,
          composed: true,
        }));
      }

      _navigateToMyList(e) {
        this.dispatchEvent(new CustomEvent('navigate', {
          detail: {
            path: this.routeLocations().myList(),
          },
          bubbles: true,
          composed: true,
        }));
      }

      _queryChanged(query) {
        if (query) {
          this.dispatchEvent(new CustomEvent('navigate', {
            detail: {
              path: this.routeLocations().search(query.trim(), this.queryParams),
            },
            bubbles: true,
            composed: true,
          }));
        }
      }
    }

    window.customElements.define(SearchHeader.is, SearchHeader);
  </script>
</dom-module>
