<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/d2l-icons/tier1-icons.html">
<link rel="import" href="../../bower_components/d2l-search/d2l-search-input.html">

<dom-module id="search-header">
  <template>
    <style>
        .item2 {
            padding-left: 1%;
            width: 80%;
        }

        a:visited {
            color: blue;
        }
    </style>

    <a name="landing-view" href="[[rootPath]]landing-view">Home</a>
    <d2l-search-input class="item2"
        label="Search"
        value="{{query}}" 
        placeholder="What do you want to learn?"
    >
    </d2l-search-input>
  </template>

  <script>
    class SearchHeader extends Polymer.Element {
      static get is() { return 'search-header'; }

        static get properties() {
            return {
                query: {
                    type: String,
                    notify: true,
                },
            };
        }
    }

    window.customElements.define(SearchHeader.is, SearchHeader);
  </script>
</dom-module>
