<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">

<link rel="import" href="../../bower_components/d2l-icons/tier1-icons.html">
<link rel="import" href="../../bower_components/d2l-search/d2l-search-input.html">

<dom-module id="search-header">
  <template>
    <style>
        .searchBar {
            padding-left: 1%;
            width: 50%;
        }
    </style>

    <a name="discovery-home" href="#[[rootPath]]discovery-home">[[localize('discover')]]</a>
    <span>[[localize('searchLabel')]]</span>
    <d2l-search-input class="searchBar"
        label="Search"
        value="{{query}}" 
        placeholder="[[localize('searchPlaceholder')]]"
    >
    </d2l-search-input>
    <a name="my-list" href="#[[rootPath]]discovery-home]]"></a>
  </template>

  <script>
    class SearchHeader extends D2L.Discovery.LocalizeMixin(Polymer.Element) {
      static get is() { return 'search-header'; }

        static get properties() {
            return {
                query: {
                    type: String,
                    notify: true,
                },
            };
        }
    }

    window.customElements.define(SearchHeader.is, SearchHeader);
  </script>
</dom-module>
