<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">
<link rel="import" href="../mixins/route-locations-mixin.html">

<link rel="import" href="../styles/discovery-styles.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/d2l-link/d2l-link.html">

<dom-module id="search-filter-group">
  <template>
    <style include="discovery-styles"></style>
    <style>
      :host {
        display: inline;
      }

      .container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 1rem;
      }

      .filterGroup {
        width: 100%;
        flex-shrink: 0;
      }

      .filterBox {
        background-color: lightgrey;
        width: 150px;
        height: 15px;
        margin-left: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-shrink: 0;
      }

      .collapse {
        margin-left: 2rem;
      }
    </style>

    <div class="d2l-typography">
      <div class="container">
        <div class="d2l-label-text">[[filterLabel]]</div>
        <div class="filterGroup">
          <template is="dom-repeat" items="[[filtersPaginated]]" as="filter">
            <div class="filterBox"></div>
            <!-- <paper-checkbox
              on-change="_filterCheckboxChanged"
              value="[[filter.label]]"
              checked="[[filter.checked]]">
              <div class="d2l-body-compact">[[filter.label]] ([[filter.results]])</div>
            </paper-checkbox> -->
          </template>
        </div>
        <div class="collapse">
          <template is="dom-if" if="[[shouldCollapse]]">
            <template is="dom-if" if="[[collapsed]]">
              <div class="d2l-body-small">
                <d2l-link
                  href="javascript:void(0)"
                  on-click="_toggleCollapsed">
                  [[localize('more')]]
                </d2l-link>
              </div>
            </template>
            <template is="dom-if" if="[[!collapsed]]">
              <div class="d2l-body-small">
                <d2l-link
                  class="d2l-body-small" 
                  href="javascript:void(0)"
                  on-click="_toggleCollapsed">
                  [[localize('less')]]
                </d2l-link>
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script src="../tools/filter-helpers.js"></script>

  <script>
    const MIN_FILTERS = 3;
    class SearchFilterGroup extends
      D2L.Discovery.LocalizeMixin(
      D2L.Discovery.RouteLocationsMixin(Polymer.Element)) {

      static get is() { return 'search-filter-group'; }

      static get properties() {
        return {
          queryParams: {
            type: Object,
            notify: true,
          },

          filterLabel: String,
          filters: Object,

          filtersPaginated: {
            type: Array,
            computed: '_computePaginatedFilters(checkboxFilters, collapsed)',
          },

          checkboxFilters: { // adds a checked property (true if in queryParams) to each filter of filters
            type: Array,
            computed: '_computeCheckboxFilters(filters, queryParams)',
          },

          collapsed: {
            type: Boolean,
            value: true
          },

          shouldCollapse: { // do not collapse if any beyond MIN_FILTERS is checked
            type: Boolean,
            computed: '_computeShouldCollapse(filters)',
          },
        };
      }

      _computeCheckboxFilters(filters, queryParams) {
        const result = [];
        for (const filterIndex in filters) {
          const filter = filters[filterIndex];
          if (queryParams && this.queryParams[_camelize(filter.label)]) {
            result.push(Object.assign({}, filter, { checked: true }));
          } else {
            result.push(Object.assign({}, filter, { checked: false }));
          }
          
        }
        return result;
      }

      _toggleCollapsed(e) {
        this.collapsed = !this.collapsed;
      }

      _computeShouldCollapse(filters) {
        if (filters && filters.length > MIN_FILTERS && this.queryParams) {
          const filtersAfterMinFilters = filters.slice(MIN_FILTERS);
          const shouldNotCollapse = filtersAfterMinFilters.some((filter) => {
            return this.queryParams[_camelize(filter.label)];
          });

          this.collapsed = !shouldNotCollapse; 
        }
        return filters && filters.length > MIN_FILTERS;
      }

      _computePaginatedFilters(filters, collapsed) {
        if (filters) {
          const nonZeroResultFilters = filters.filter(filterObj => filterObj.results > 0);
          if (this.collapsed) {
            return nonZeroResultFilters.slice(0, MIN_FILTERS);
          } else {
            return nonZeroResultFilters;
          }
        }
        return null;
      }

      _filterCheckboxChanged(e) {
        var eventToFire = '';
        if (e && e.target && e.target.checked && e.target.value) {
          eventToFire = 'filter-added';
        } else if (e && e.target && !e.target.checked && e.target.value) {
          eventToFire = 'filter-removed';
        }

        if (eventToFire) {
          this.dispatchEvent(new CustomEvent(eventToFire, {
            detail: {
              filter: _camelize(e.target.value),
            },
            bubbles: true,
            composed: true,
          }));
        }
      }
    }

    window.customElements.define(SearchFilterGroup.is, SearchFilterGroup);
  </script>
</dom-module>
