<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../mixins/localize-mixin.html">
<link rel="import" href="../mixins/route-locations-mixin.html">

<link rel="import" href="../styles/discovery-styles.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="search-filter-group.html">

<dom-module id="search-filter-sidebar">
  <template>
    <style include="discovery-styles"></style>
    <style>
      :host {
        display: inline;
      }

      .topHeader {
        margin-top: 0 !important;
      }
    </style>

    <div class="d2l-typography">
      <div>
        <h3 class="d2l-heading-3 topHeader">[[localize('refineResults')]]</h3>
      </div>

      <template id="filters" is="dom-repeat" items="[[filters]]" as="filter">
        <search-filter-group
          filter-label="[[filter.label]]"
          filters="[[filter.filters]]"
          query-params="{{queryParams}}">
        </search-filter-group>
      </template>
    </div>
  </template>

  <script>
    class SearchFilterSidebar extends
      D2L.Discovery.LocalizeMixin(
      D2L.Discovery.RouteLocationsMixin(Polymer.Element)) {

      constructor() {
        super();
      }

      static get is() { return 'search-filter-sidebar'; }

      static get properties() {
        return {
          queryParams: {
            type: Object,
            notify: true,
          },

          filters: Object,
        };
      }
    }

    window.customElements.define(SearchFilterSidebar.is, SearchFilterSidebar);
  </script>
</dom-module>
